
header {
    position: fixed;
    background-color: #373867;
    margin-left: 159px;
    top: 0;
    width: 1920px;
    height: 100px;
    z-index: 1;
 }
.button {
    position: relative;
    height: 35px;
    bottom: 35px;
    left: 80px;
 }
.tittle {
    position: relative;
    width: 355px;
    left: 84px;
 }
 .box1{
    position: fixed;
    background-color: #373867;
    height: 100%;
    width: 235px;
    top: 0;
    left: 0;
    
 }
 aside li {
    border-bottom: 2px solid white;
    text-decoration: none;
    list-style: none;
    font-size: 35px;
    color: #c4c4c4;
    padding-top: 30px;
    right: 15px;
    width: 109px;
    display: inline-block;
 }

 aside li:nth-child(4) {

    color:#46a37c;
    text-decoration: none;
    border-bottom: 0px;
 }
 main {
    padding-left: 279px;
    padding-top: 110px;
 }
 .logo-nav{
    position: relative;
    left: 57px;
    top: 26px;
 }
 .arrowbar {
    position: relative;
    left: 13px;
    bottom: 4px;
 }
 .touch {
    color:#46a37b;
    padding-top: 20px;
    border-bottom: 2px solid green;
    font-size: 20px;
    width: 109px;
 }
 .word1 {
    position: relative;
    color: #c4c4c4;
    left: 42px;
    bottom: 46px;
    border-bottom: 2px solid #c4c4c4; width: 150px;
 }
 .word2 {
    position: relative;
    color: #c4c4c4;
    left: 40px;
    bottom: 39px;
    border-bottom: 2px solid #c4c4c4;
    width: 148px;
 }
 .word3 {
    position: relative;
    color: #c4c4c4;
    left: 42px;
    bottom: 47px;
    border-bottom: 2px solid #c4c4c4;
    width: 150px;
    font-size: 14px;
 }
 .main-div {
   height: 800px;
   position: relative;
   display: block;
   z-index: -1;
  }
  
  .main-div h1 span{
   color: rgb(55, 56, 103, 75%)
  }
  
 .main-div h2 span{
   font-weight: 100;
 }
 .main-text {
   position: absolute;
   font-family: "Roboto", Arial, Helvetica, sans-serif;
   font-size: 18px;
   display: inline-block;
   width: 700px;
   left: 90px;
   top: 50px; 
 }
 .main-text h1{
   color: #373867;
   font-size: 60px;
 }
 .main-text h2 {
   color: #373867;
   font-size: 25px;
 }
 .main-div p {
   width: 500px;
 }
 .main-div img {
   position: absolute;
   right: 100px;
   display: inline-block; 
   margin-right: 100px;
   top: 80px;
   
 }
 .meet-us {
   position: relative;
   color: #373867;
   font-size: 34px;
   font-family: "Roboto", Arial, Helvetica, sans-serif;
 }
 .meet-us section{
   position: relative;
 }
 .text-box p {
   margin-left: 40px;
   color: #979797;
   width: 300px;
 }
 .text-box p {
   font-size: 18px;
 }
 .allarticles h3 {
   color: #373867;
   font-size: 25px;
   font-family: "Roboto", Arial, Helvetica, sans-serif;
   margin-left: 40px;
   width: 500px;
 }
 .allarticles {
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin-bottom: 100px;
 }
 .img-text-combo {
   display: flex;
 }
 .box3 {
  position:relative;
  width: 1205px;
  height: 1000px;
 }
 .box3 h2{
  color: #373867;
  font-size: 34px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
 }
.input {
  display: inline-block;
  width: 600px;
  margin-top: 30px;
}
label {
  display: block;
  color: #373867;
  font-size: 24px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

input[type=text] {
  width: 550px;
  height: 35px;
  padding: 12px;
  display:inline-block;
  border: 1px solid #373867;
  border-radius: 4px;
  box-sizing: border-box;
}

 .box3-list {
  margin-top: 50px;

 }
 .box3-list p {
  position: relative;
  left: 25px;
  bottom: 21px;
  margin: 0;
}
textarea {
  width: 1140px;
  height: 180px;
}
.buttons {
  position: absolute;
  right: 50px;
  margin-right: 50px;
  margin-top: 50px;

}


button[type=submit] {
  background-color: #373867;
  color:#ffffff;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 150px;
}
.reset {
  height: 42px;
  width: 120px;
  margin: 15px;
}
.about-us {
  position: relative;
  height: 1200px;
  width: 1400px;
  display: block;
}
.about-us h2 {
  color: #373867;
  font-size: 34px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 57px;
}
.first-text {
  height: 400px;
  color: #6d6d6d;
  font-size: 25px;
  font-family: "Roboto,", Arial, Helvetica, sans-serif;
  width: 1000px;
}
.two {
  position: relative;
  bottom: 100px;
}
.two p {
  color: #6d6d6d;
  font-size: 25px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-left: 40px;
  display: inline-block;
}
.order-text{
  display: inline-block;
  width: 1000px;
}
.paragraph-size {
  width: 300px;
}
.image-us {
  position: relative;
  bottom: 100px;
}

 .image-family {
  position: absolute;
  display: inline-block;
  right: 100px;
  
 }










.main-footer {
  background-color: #2C2C3A;
  color:#49A37B;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
 }




   

 

 

  
    
 


 


